{% extends 'template.tpl.html' %}
{% block title %}Listar agendamentos - SysMedic{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
{% endblock %}

{% block sidebar %}
{% include "sidebar.tpl.html" %}
{% endblock %}

{% block content %}
    {% set pode = false %}
    {% for grupo in grupos %}
        {% if request.uri == grupo.url %}
            {% set pode = true %}
        {% endif %}
    {% endfor %}

{% if pode == false %}
<script>window.location.href = '/login'</script>
{% endif %}
    <main class="mn-inner">
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Todos os agendamentos</span>
                        <table id="datatable" class="display responsive-table datatable-example">
                            <thead>
                            <tr>
                                <th>Horário</th>
                                <th>Paciente</th>
                                <th>E-mail</th>
                                <th>Descrição</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agendamento in agendamentos %}
                                <tr>
                                    <td>{{ agendamento.horario }}</td>
                                    <td>{{ agendamento.paciente }}</td>
                                    <td>{{ agendamento.email }}</td>
                                    <td> <a onclick="sysmedic.scheduling.view('{{ agendamento.descricao }}')" class="waves-effect waves-light blue btn">Visualizar</a></td>
                                    <td>
                                        <a href="/agendamento/{{ agendamento.id }}" class="waves-effect waves-light btn">Prontuário</a>
                                        <a onclick="sysmedic.scheduling.close({{ agendamento.id }})" class="waves-effect waves-light green btn">Fechar agendamento</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="modal-descricao" class="modal">
                        <div class="modal-content">
                            <h4>Descrição do agendamento</h4>
                            <p id="modal-descricao-text"></p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="left-sidebar-hover"></div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block modulejs %}
<script type="text/javascript" src="/js/module/table.js"></script>
<script type="text/javascript" src="/js/module/ajax.js"></script>
<script type="text/javascript" src="/js/module/modal.js"></script>
<script type="text/javascript" src="/js/module/telephone.js"></script>
<script type="text/javascript" src="/js/module/specialty.js"></script>
<script type="text/javascript" src="/js/module/scheduling.js"></script>
{% endblock %}
{% block scriptjs %}
<script type="text/javascript">
    $(document).ready(function() {
        sysmedic.table.init();
        $('.agendamento').addClass('active');
        $('.collapsible').collapsible('open', 0);
    });
</script>
{% endblock %}