{% extends 'template.tpl.html' %}
{% block title %}Listar agendamentos - SysMedic{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
{% endblock %}

{% block sidebar %}
{% include "sidebar.tpl.html" %}
{% endblock %}

{% block content %}
    {% set pode = false %}
    {% for permissao in session.permissoes %}
        {% if request.uri in permissao.url %}
            {% set pode = true %}
        {% endif %}
    {% endfor %}

{% if pode == false %}
<script>window.location.href = '/login'</script>
{% endif %}
    <main class="mn-inner">
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Todos os agendamentos</span>
                        <table id="datatable" class="display responsive-table datatable-example">
                            <thead>
                            <tr>
                                <th>Médico</th>
                                <th>CRM</th>
                                <th>Paciente</th>
                                <th>E-mail</th>
                                <th>Horário</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agendamento in agendamentos %}
                                <tr>
                                    <td>{{ agendamento.medico }}</td>
                                    <td>{{ agendamento.crm }}</td>
                                    <td>{{ agendamento.paciente }}</td>
                                    <td>{{ agendamento.email }}</td>
                                    <td>{{ agendamento.horario}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="left-sidebar-hover"></div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block modulejs %}
<script type="text/javascript" src="/js/module/table.js"></script>
<script type="text/javascript" src="/js/module/ajax.js"></script>
<script type="text/javascript" src="/js/module/modal.js"></script>
<script type="text/javascript" src="/js/module/telephone.js"></script>
<script type="text/javascript" src="/js/module/specialty.js"></script>
{% endblock %}
{% block scriptjs %}
<script type="text/javascript">
    $(document).ready(function() {
        sysmedic.table.init();
        $('.agendamento').addClass('active');
        $('.collapsible').collapsible('open', 0);
    });
</script>
{% endblock %}