{% extends 'template.tpl.html' %}
{% block title %}Dasboard - SysMedic{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
{% endblock %}

{% block sidebar %}
{% include "sidebar.tpl.html" %}
{% endblock %}

{% block content %}
{% if not session %}
<script>window.location.href = '/login'</script>
{% endif %}
    {% if session.perfil == 'secretaria' %}
        {% include "index/secretaria.tpl.html" %}
    {% endif %}
</div>
<div class="left-sidebar-hover"></div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block modulejs %}
<script type="text/javascript" src="/js/module/table.js"></script>
{% endblock %}
{% block scriptjs %}
<script type="text/javascript">
    $(document).ready(function() {
        sysmedic.dashboard.welcome();
        sysmedic.table.init();
        $('.dashboard').addClass('active');
        $('.collapsible').collapsible('open', 0);
    });
</script>
{% endblock %}