{% extends 'template.tpl.html' %}
{% block title %}Histórico do Paciente - SysMedic{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
{% endblock %}

{% block sidebar %}
{% include "sidebar.tpl.html" %}
{% endblock %}

{% block content %}
    <main class="mn-inner">
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Histórico do Paciente: {{ paciente.nome }} - E-mail: {{ paciente.email }}</span>
                        <table id="datatable" class="display responsive-table datatable-example">
                            <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>E-mail</th>
                                <th>Descrição</th>
                                <th>Prontuário Anamnese</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agendamento in agendamentos %}
                            <tr>
                                <td>{{ agendamento.paciente }}</td>
                                <td>{{ agendamento.email }}</td>
                                <td> <a onclick="sysmedic.scheduling.view('{{ agendamento.descricao }}')" class="waves-effect waves-light blue btn">Visualizar</a></td>
                                <td>
                                    <a onclick="sysmedic.medicalrecord.anamnese.modal({{ agendamento.id }})" class="waves-effect waves-light btn">Visualizar</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Ficha de Anamnese -->
    <div id="modal-anamnese" class="modal">
        <div class="modal-content">
            <h4>Ficha Anamnese</h4>
            <form id="anamnese-form">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Queixa principal" name="anamnese[queixa_principal]" id="queixa_principal" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="queixa_principal">Queixa principal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Histórico" name="anamnese[historico]" id="historico" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="historico">Histórico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Problemas renais" name="anamnese[problemas_renais]" id="problemas_renais" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="problemas_renais">Problemas renais</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Problemas articulares" name="anamnese[problemas_articulares]" id="problemas_articulares" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="problemas_articulares">Problemas articulares</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Problemas cardiacos" name="anamnese[problemas_cardiacos]" id="problemas_cardiacos" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="problemas_cardiacos">Problemas cardiacos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Problemas respiratórios" name="anamnese[problemas_respiratorios]" id="problemas_respiratorios" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="problemas_respiratorios">Problemas respiratórios</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Problemas gastricos" name="anamnese[problemas_gastricos]" id="problemas_gastricos" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="problemas_gastricos">Problemas gastricos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea length="1000" placeholder="Alergias" name="anamnese[alergias]" id="alergias" class="materialize-textarea" disabled="disabled"></textarea>
                            <label for="alergias">Alergias</label>
                        </div>
                    </div>
                    <div class="row">
                        Hepatite
                        <div class="switch">
                            <label>
                                Não
                                <input name="anamnese[hepatite]" id="hepatite" type="checkbox" disabled="disabled">
                                <span class="lever"></span>
                                Sim
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        Gravidez
                        <div class="switch">
                            <label>
                                Não
                                <input name="anamnese[gravidez]" id="gravidez" type="checkbox" disabled="disabled">
                                <span class="lever"></span>
                                Sim
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        Diabetes
                        <div class="switch">
                            <label>
                                Não
                                <input name="anamnese[diabetes]" id="diabetes" type="checkbox" disabled="disabled">
                                <span class="lever"></span>
                                Sim
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        Problemas de cicatrização
                        <div class="switch">
                            <label>
                                Não
                                <input name="anamnese[problemas_de_cicatrizacao]" id="problemas_de_cicatrizacao" type="checkbox" disabled="disabled">
                                <span class="lever"></span>
                                Sim
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
        </div>
    </div>

    <div id="modal-descricao" class="modal">
        <div class="modal-content">
            <h4>Descrição do agendamento</h4>
            <p id="modal-descricao-text"></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

</div>
<div class="left-sidebar-hover"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block modulejs %}
<script type="text/javascript" src="/js/module/table.js"></script>
<script type="text/javascript" src="/js/module/ajax.js"></script>
<script type="text/javascript" src="/js/module/medicalrecord.js"></script>
<script type="text/javascript" src="/js/module/scheduling.js"></script>
{% endblock %}
{% block scriptjs %}
<script type="text/javascript">
    $(document).ready(function() {
        sysmedic.table.init();
        $('.agendamento').addClass('active');
        $('.collapsible').collapsible('open', 0);
    });
</script>
{% endblock %}