{% extends 'template.tpl.html' %}
{% block title %}Prontuário - SysMedic{% endblock %}

{% block sidebar %}
{% include "sidebar.tpl.html" %}
{% endblock %}

{% block content %}
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Prontuário - Paciente: {{ paciente.nome }} - E-mail: {{ paciente.email }}</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <a onclick="sysmedic.medicalrecord.anamnese.modal({{ agendamento.id }})" class="waves-effect waves-light btn col s12">Ficha Anamnese</a>
                    </div>
                    <div class="row">
                        <a onclick="sysmedic.medicalrecord.hipotese.modal({{ agendamento.id }})" class="waves-effect waves-light btn col s12">Ficha Hipótese Diagnostico</a>
                    </div>
                    <div class="row">
                        <a onclick="sysmedic.medicalrecord.prescricao.modal({{ agendamento.id }})" class="waves-effect waves-light btn col s12">Ficha Prescrição Médica</a>
                    </div>
                    <div class="row">
                        <a onclick="sysmedic.medicalrecord.evolucao.modal({{ agendamento.id }})" class="waves-effect waves-light btn col s12">Ficha Evolução do Paciente</a>
                    </div>
                    <div class="row">
                        <a onclick="sysmedic.medicalrecord.atestado.modal({{ agendamento.id }})" class="waves-effect waves-light btn col s12">Ficha Atestado Médico</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ficha de Anamnese -->
        <div id="modal-anamnese" class="modal">
            <div class="modal-content">
                <h4>Ficha Anamnese</h4>
                <form id="anamnese-form">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Queixa principal" name="anamnese[queixa_principal]" id="queixa_principal" class="materialize-textarea"></textarea>
                                <label for="queixa_principal">Queixa principal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Histórico" name="anamnese[historico]" id="historico" class="materialize-textarea"></textarea>
                                <label for="historico">Histórico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Problemas renais" name="anamnese[problemas_renais]" id="problemas_renais" class="materialize-textarea"></textarea>
                                <label for="problemas_renais">Problemas renais</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Problemas articulares" name="anamnese[problemas_articulares]" id="problemas_articulares" class="materialize-textarea"></textarea>
                                <label for="problemas_articulares">Problemas articulares</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Problemas cardiacos" name="anamnese[problemas_cardiacos]" id="problemas_cardiacos" class="materialize-textarea"></textarea>
                                <label for="problemas_cardiacos">Problemas cardiacos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Problemas respiratórios" name="anamnese[problemas_respiratorios]" id="problemas_respiratorios" class="materialize-textarea"></textarea>
                                <label for="problemas_respiratorios">Problemas respiratórios</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Problemas gastricos" name="anamnese[problemas_gastricos]" id="problemas_gastricos" class="materialize-textarea"></textarea>
                                <label for="problemas_gastricos">Problemas gastricos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Alergias" name="anamnese[alergias]" id="alergias" class="materialize-textarea"></textarea>
                                <label for="alergias">Alergias</label>
                            </div>
                        </div>
                        <div class="row">
                            Hepatite
                            <div class="switch">
                                <label>
                                    Não
                                    <input name="anamnese[hepatite]" id="hepatite" type="checkbox">
                                    <span class="lever"></span>
                                    Sim
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            Gravidez
                            <div class="switch">
                                <label>
                                    Não
                                    <input name="anamnese[gravidez]" id="gravidez" type="checkbox">
                                    <span class="lever"></span>
                                    Sim
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            Diabetes
                            <div class="switch">
                                <label>
                                    Não
                                    <input name="anamnese[diabetes]" id="diabetes" type="checkbox">
                                    <span class="lever"></span>
                                    Sim
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            Problemas de cicatrização
                            <div class="switch">
                                <label>
                                    Não
                                    <input name="anamnese[problemas_de_cicatrizacao]" id="problemas_de_cicatrizacao" type="checkbox">
                                    <span class="lever"></span>
                                    Sim
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
                <a onclick="sysmedic.medicalrecord.anamnese.save({{ agendamento.id }})" class="modal-action waves-effect waves-green btn-flat">Salvar</a>
            </div>
        </div>

        <!-- Fecha de Hipótese -->
        <div id="modal-hipotese" class="modal">
            <div class="modal-content">
                <h4>Ficha Hipótese Diagnóstico</h4>
                <form id="hipotese-form">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Hipótese do médico" name="hipotese[hipotese_medico]" id="hipotese_medico" class="materialize-textarea"></textarea>
                                <label for="hipotese_medico">Hipótese do médico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Observações" name="hipotese[observacao]" id="observacao" class="materialize-textarea"></textarea>
                                <label for="observacao">Observações</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
                <a onclick="sysmedic.medicalrecord.hipotese.save({{ agendamento.id }})" class="modal-action waves-effect waves-green btn-flat">Salvar</a>
            </div>
        </div>

        <!-- Fecha de Prescrição Médica -->
        <div id="modal-prescricao" class="modal">
            <div class="modal-content">
                <h4>Ficha Prescrição Médica</h4>
                <form id="prescricao-form">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Prescrição" name="prescricao[informacao]" id="informacao-prescricao" class="materialize-textarea"></textarea>
                                <label for="informacao-prescricao">Informação</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
                <a onclick="sysmedic.medicalrecord.prescricao.save({{ agendamento.id }})" class="modal-action waves-effect waves-green btn-flat">Salvar</a>
            </div>
        </div>

        <!-- Fecha de Evolução do Paciente -->
        <div id="modal-evolucao" class="modal">
            <div class="modal-content">
                <h4>Ficha Evolução do Paiente</h4>
                <form id="evolucao-form">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Evolução do Paciente" name="evolucao[informacao]" id="informacao-evolucao" class="materialize-textarea"></textarea>
                                <label for="informacao-evolucao">Informação</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
                <a onclick="sysmedic.medicalrecord.evolucao.save({{ agendamento.id }})" class="modal-action waves-effect waves-green btn-flat">Salvar</a>
            </div>
        </div>

        <!-- Fecha de Atestado Médico -->
        <div id="modal-atestado" class="modal">
            <div class="modal-content">
                <h4>Ficha Atestado Médico</h4>
                <form id="atestado-form">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea length="1000" placeholder="Atestado Médico" name="atestado[informacao]" id="informacao-atestado" class="materialize-textarea"></textarea>
                                <label for="informacao-atestado">Informação</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-grey btn-flat">Fechar</a>
                <a onclick="sysmedic.medicalrecord.atestado.save({{ agendamento.id }})" class="modal-action waves-effect waves-green btn-flat">Salvar</a>
            </div>
        </div>
    </div>
</main>
</div>
<div class="left-sidebar-hover"></div>
{% endblock %}

{% block modulejs %}
<script type="text/javascript" src="/js/module/ajax.js"></script>
<script type="text/javascript" src="/js/module/medicalrecord.js"></script>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block scriptjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.dashboard').addClass('active');
        $('.collapsible').collapsible('open', 0);
    });
</script>
{% endblock %}