<main class="mn-inner">
    <div class="row no-m-t no-m-b">
        <div class="col s12 m12 l4">
            <div class="card stats-card">
                <div class="card-content">
                    <div class="card-options">
                        <ul>
                            <a href="/medico"><span class="badge cyan lighten-1">listar</span></a>
                        </ul>
                    </div>
                    <span class="card-title">Médicos</span>
                    <span class="stats-counter"><span class="counter">{{ medico.count }}</span><small>total</small></span>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="card stats-card">
                <div class="card-content">
                    <div class="card-options">
                        <ul>
                            <a href="/paciente"><span class="badge cyan lighten-1">listar</span></a>
                        </ul>
                    </div>
                    <span class="card-title">Pacientes</span>
                    <span class="stats-counter"><span class="counter">{{ paciente.count }}</span><small>total</small></span>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="card stats-card">
                <div class="card-content">
                    <div class="card-options">
                        <ul>
                            <a href="/agendamento"><span class="badge cyan lighten-1">listar</span></a>
                        </ul>
                    </div>
                    <span class="card-title">Agendamentos</span>
                    <span class="stats-counter"><span class="counter">{{ agendamentos.total.count }}</span><small>neste mês</small></span>
                    <div class="percent-info red-text">8% <i class="material-icons">trending_down</i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-m-t no-m-b">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Agendamentos de hoje</span>
                    <table id="datatable" class="display responsive-table datatable-example">
                        <thead>
                        <tr>
                            <th>Médico</th>
                            <th>Quantidade de pacientes</th>
                            <th>Primeiro atendimento</th>
                            <th>Último atendimento</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agendamento in agendamentos.day %}
                        <tr>
                            <td>{{ agendamento.medico }}</td>
                            <td>{{ agendamento.qtd }}</td>
                            <td>{{ agendamento.inicio }}</td>
                            <td>{{ agendamento.fim }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>